* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#banner {
  border-radius: 2rem;
  padding-block: auto; 
  margin-bottom: 30px;
}

#historyList {
  margin-top: 15px;
}